# macOS junk
.DS_Store

# build / binary output
.bin/
build/

# editor config
.vscode/
main.code-workspace

# python cache (ignore everywhere)
__pycache__/
*.pyc
*.pyo

# throwaway / experiments
test/
